/* HEADER */
.image {
  background-image: url("img/slider.jpg");
  z-index: 0;
  background-size: cover;
  height: auto;
  width: 100%;
}

#conteneur {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25%;
}

/* BODY */

section {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cadre {
  margin: 0 2rem;
  border: 1px solid;
  border-color: #8c6a46;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title_gauche {
  padding: 4rem 8rem 4rem 4rem;
  display: flex;
  flex-direction: column;
}
.title_droite {
  padding: 4rem 4rem 4rem 8rem;

  display: flex;
  flex-direction: column;
}

.p_g,
.p_d {
  color: #8c6a46;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 2.2px;
}

.p_bis {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  color: #9e9e9e;
  letter-spacing: 0;
  text-align: justify;
}

.t_g,
.t_d {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  letter-spacing: 0;
  color: white;
}

.dotNews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical {
  transform: rotate(90deg);
  color: #917f6d !important;
  width: 50%;
}
.vertical1 {
  transform: rotate(90deg);
  color: #917f6d !important;
  width: 60px;
}

.news {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 13px;
  color: white;
  letter-spacing: 2.6px;
  text-align: center;
  position: relative;
}

.dot {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border-color: #8c6a46;
  border: 1px solid;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_back {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
}

.text-uppercase {
  background-color: #1b1b1b;
}

.text_uppercase {
  text-align: center;
  font-size: 125px;
  color: #af9881;
  opacity: 0.1;
  font-family: "Playfair Display", serif;
  letter-spacing: 0;
  padding-top: 2rem;
}

.mon_blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 6rem;
  /*left: 30%;*/
}

.text_one {
  /*position: relative;
  left: 15%;*/
  font-size: 24px;
  color: #917f6d;
  font-family: "Open Sans";
}

.parag_one {
  text-align: center;
  font-size: 16px;
  color: white;
  width: 40%;
  font-family: "Open Sans";
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Open Sans";
  font-size: 24px;
  color: #917f6d;
}

#texte {
  margin-left: 20rem;
  margin-right: 20rem;
  font-size: 16px;
}

.hr_t {
  color: #917f6d !important;
  width: 15%;
}
/* FOOTER */
footer {
  padding-left: 3rem;
  padding-top: 1rem;
  color: white;
  letter-spacing: 1px;
  font-family: "Open Sans";
  font-size: 11px;
  background-color: #1b1b1b;
  border-top: 1px solid #8c6a46;
}

/* RESPONSIVE */
@media screen and (max-width: 480px) {
  .image {
    width: 100%;
    object-fit: cover;
    max-width: 480px;
    height: auto;
  }

  .fa,
  .fas {
    margin-left: 2rem !important;
    margin-top: 2rem !important;
  }
  .cadre {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .title_gauche,
  .title_droite {
    padding: 3rem;
  }
  .hr_t {
    display: none;
  }

  .t_g,
  .t_d {
    margin-bottom: 2rem;
    text-align: left !important;
  }
  p {
    text-align: left !important;
  }
  .parag_one {
    width: 95%;
  }

  .dotNews {
    order: -1;
  }
}
